.hidden {
  visibility: hidden;
  opacity: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(220, 220, 220);
  padding: 10px;
  transition: opacity 0.5s, visibility 0.5s;
  border: 0;
  border-radius: 10px;
  width: 450px;
  height: 100px;
}

.stream {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(220, 220, 220);
  padding: 10px;
  transition: opacity 0.5s, visibility 0.5s;
  border: 0;
  border-radius: 10px;
  width: 450px;
  height: 180px;
}

h1 {
  line-height: 24px;
  margin: 10px;
}

p {
  line-height: 16px;
  margin: 10px;
}
